<p style="color: green"><%= notice %></p>

<h1>Charges</h1>

<div id="charges">
  <% @charges.each do |charge| %>
    <%= render charge %>
    <p>
    <%= link_to "View data payment", charge_path(charge), method: :get %>
    </p>
  <% end %>
</div>
u
<%= link_to "New charge", new_charge_path %>
